<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  	
  	<display-name>VideoPlatform</display-name>
  	
	  <welcome-file-list>
	    <welcome-file>jsp/main_page.jsp</welcome-file>
	  </welcome-file-list>
	  
	  <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	  
	  <servlet>
		<servlet-name>webmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
		      <param-name>contextConfigLocation</param-name>
		      <param-value>/WEB-INF/springmvc-config.xml</param-value>
	    </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>webmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- 过滤器配置信息 -->
    <filter>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <!-- 过滤器设置编码文件 -->
        <filter-class>com.videoPlatform.filter.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <description>给参数和值设置名称和编码类型</description>
            <param-name>encode</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<filter>  
        <filter-name>openSession</filter-name>  
        <filter-class>org.springframework.orm.hibernate5.support.OpenSessionInViewFilter</filter-class>  
        <init-param>  
            <param-name>singleSession</param-name>  
            <param-value>false</param-value>  
        </init-param>  
    </filter>  
    <filter-mapping>  
        <filter-name>openSession</filter-name>  
        <url-pattern>/*</url-pattern>  
    </filter-mapping>  
	
</web-app>